venv/
__pycache__/
.DS_Store
.vscode/
.idea/

# data files
mrl_dataset_raw/
data/

# video files
assets/videos/

# environments
.env
.venv

# streamlit secrets
.streamlit/secrets.toml

# logs & temp
*.log
*.tmp
temp/
tmp/

# python
build/